NET "red_out" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "green_out" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "blue_out" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hsync_out" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vsync_out" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "ps2_clk_in" LOC = "G14" | IOSTANDARD = LVCMOS33 ;
NET "ps2_data_in" LOC = "G13" | IOSTANDARD = LVCMOS33 ;
NET "rst_in" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "data_out[0]"  LOC = "F12" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[1]"  LOC = "E12" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[2]"  LOC = "E11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[3]"  LOC = "F11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[4]"  LOC = "C11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[5]"  LOC = "D11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[6]"  LOC = "E9" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "data_out[7]"  LOC = "F9" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8 ;
NET "rxd_in" LOC = "U8" | IOSTANDARD = LVTTL | PULLUP ;
NET "txd_out" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "clk_in" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clk_in" PERIOD = 20.0ns HIGH 40% ;

INST altair/mc/DCM_SP_INST CLK_FEEDBACK = 1X;
INST altair/mc/DCM_SP_INST CLKDV_DIVIDE = 2.0;
INST altair/mc/DCM_SP_INST CLKFX_DIVIDE = 1;
INST altair/mc/DCM_SP_INST CLKFX_MULTIPLY = 4;
INST altair/mc/DCM_SP_INST CLKIN_DIVIDE_BY_2 = FALSE;
INST altair/mc/DCM_SP_INST CLKIN_PERIOD = 20.000;
INST altair/mc/DCM_SP_INST CLKOUT_PHASE_SHIFT = NONE;
INST altair/mc/DCM_SP_INST DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST altair/mc/DCM_SP_INST DFS_FREQUENCY_MODE = LOW;
INST altair/mc/DCM_SP_INST DLL_FREQUENCY_MODE = LOW;
INST altair/mc/DCM_SP_INST DUTY_CYCLE_CORRECTION = TRUE;
INST altair/mc/DCM_SP_INST FACTORY_JF = C080;
INST altair/mc/DCM_SP_INST PHASE_SHIFT = 0;
INST altair/mc/DCM_SP_INST STARTUP_WAIT = FALSE;
INST altair/cc/DCM_SP_INST CLK_FEEDBACK = 1X;
INST altair/cc/DCM_SP_INST CLKDV_DIVIDE = 4.0;
INST altair/cc/DCM_SP_INST CLKFX_DIVIDE = 1;
INST altair/cc/DCM_SP_INST CLKFX_MULTIPLY = 4;
INST altair/cc/DCM_SP_INST CLKIN_DIVIDE_BY_2 = FALSE;
INST altair/cc/DCM_SP_INST CLKIN_PERIOD = 20.000;
INST altair/cc/DCM_SP_INST CLKOUT_PHASE_SHIFT = NONE;
INST altair/cc/DCM_SP_INST DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST altair/cc/DCM_SP_INST DFS_FREQUENCY_MODE = LOW;
INST altair/cc/DCM_SP_INST DLL_FREQUENCY_MODE = LOW;
INST altair/cc/DCM_SP_INST DUTY_CYCLE_CORRECTION = TRUE;
INST altair/cc/DCM_SP_INST FACTORY_JF = C080;
INST altair/cc/DCM_SP_INST PHASE_SHIFT = 0;
INST term/uc/DCM_SP_INST STARTUP_WAIT = FALSE;
INST term/uc/DCM_SP_INST CLK_FEEDBACK = 1X;
INST term/uc/DCM_SP_INST CLKDV_DIVIDE = 4.0;
INST term/uc/DCM_SP_INST CLKFX_DIVIDE = 1;
INST term/uc/DCM_SP_INST CLKFX_MULTIPLY = 4;
INST term/uc/DCM_SP_INST CLKIN_DIVIDE_BY_2 = FALSE;
INST term/uc/DCM_SP_INST CLKIN_PERIOD = 20.000;
INST term/uc/DCM_SP_INST CLKOUT_PHASE_SHIFT = NONE;
INST term/uc/DCM_SP_INST DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST term/uc/DCM_SP_INST DFS_FREQUENCY_MODE = LOW;
INST term/uc/DCM_SP_INST DLL_FREQUENCY_MODE = LOW;
INST term/uc/DCM_SP_INST DUTY_CYCLE_CORRECTION = TRUE;
INST term/uc/DCM_SP_INST FACTORY_JF = C080;
INST term/uc/DCM_SP_INST PHASE_SHIFT = 0;
INST term/uc/DCM_SP_INST STARTUP_WAIT = FALSE;



